/* BASIC RESET STARTS */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
:root {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #eee;
  font-family: 'Lato', sans-serif;
}
/*
DEBUGGER 
* {
  border: 1px solid red;
} */
/* BASIC RESET ENDS */
body {
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  width: 60%;
  padding: 2em;
  position: relative;
  background-color: #fff;
  border-radius: 0.5em;
}
.box::before {
  position: absolute;
  z-index: -1;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
  filter: blur(20px);
  transform: translate3d(0px, 20px, 0px);
  border-radius: inherit;
}
.box::after {
  position: absolute;
  z-index: -1;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}
